<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0 auto;
            text-align: center;
        }
        table{
            border: 2px solid black;
        }
        th{
            border: 1px solid black;
        }
    </style>
    <main>
        <h1>all the user</h1>
    </main>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            <tbody>
                {% for i in user %}
                    <tr>
                        <th>{{i.id}}</th>
                        <th>{{i.first_name}} {{i.secand_name}}</th>
                        <th>{{i.email_address}}</th>
                        <th>{{i.age}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    <hr>
    <h1>Add a user</h1>
    <form action="result" method="POST"> 
        {% csrf_token %}
        <label for="first_name">first name</label>
        <input type="text" name="first_name">

        <label for="secand_name">secand name</label>
        <input type="text" name="secand_name"><br>

        <label for="email_address">email</label>
        <input type="text" name="email_address"><br>

        <label for="age">age</label>
        <input type="text" name="age"><br><br>
        <input type="submit">
    </form>
</body>
</html>