<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th{
        border: 1px solid black;
    }
    td{
        border: 1px solid black;
    }
    .all{
        display: flex;
        justify-content: space-evenly;
    }
</style>
<body>
    <div class="all">
    <div>
    <h1>Add a Author</h1>
    <form action="addAuthor" method="POST">
        {%csrf_token%}
        First Name: <input type="text" name="firstName"><br>
        Last Name: <input type="text" name="lastName"><br>
        Notes: <br><textarea name="notes" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Add">
    </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for Author in authors%}
                    <tr>
                        <td>{{Author.id}}</td>
                        <td>{{Author.first_name}}{{Author.last_name}}</td>
                        <td><a href="/Authors/{{Author.id}}">View</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>