<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>you are add</h1>
    Name:<h3>{{this_author.first_name }}{{this_author.last_name }}</h3>
    ID:<h3>{{this_author.id }}</h3>
    Notes: <br><textarea>{{this_author.notes }}</textarea>

    <h3>Books</h3>
    <ul>
        {%for book in author.books.all%}
        <li>
            {{book.title}}
        </li>
        {% endfor %}
    </ul>

    <div>
        <form action="/authors/book_to_author/{{author.id}}" method="POST">
            {%csrf_token%}
        <select name="book_id" id="book">
            {%for book in books%}
            <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Add">
    </form>
    </div>
</body>
</html>