<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0 auto;
            text-align: center;
        }
        .goback p{
            width: 100px;
            margin-right: 0;
        }
        .NR{
            display: flex;
        }
        main{
            width: 300px;
        }
        #title{
            width: 300px;
        }
        #desc{
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="goback"><p><a href="/shows">Go back</a></p></div>
    <h1>Add a New Show</h1><br>
    <main>
    {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
    {% endif %}
        <form action="/create" method="POST">
            {% csrf_token %}
            <label for="title">Tiltle</label><br>
            <input type="text" name="title" id="title"><br>
            <div class="NR">
                <div class="formNR">
                    <label for="network">Network</label><br>
                    <input type="text" name="network">
                </div>
                <div class="formNR">
                    <label for="relasedate">Relasedate</label><br>
                    <input type="text" name="relasedate">
                </div>
            </div>
            <label for="desc">Description</label><br>
            <textarea name="desc" id="desc" rows="10"></textarea><br>
            <input type="submit" value="create">
        </form>
    </main>
</body>
</html>