<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<style>
    *{
        margin: 0 auto;
        text-align: center;
    }
    .layth{
        width: 250px;
        height: 150px;
        background-color: red;
        padding-top: 80px;
    }
</style>
<body>
    <h1>Welcom to the great number game !</h1>
    <p>i am thinking of a number between 1 and 100</p>
    <p>take a guess!</p><br>
    <p class="layth">{{ request.session.com}}</p> <br>
    <form action="/result" method="POST">
        {% csrf_token %}
        <input type="text" name="box">
        <input type="submit" value="submit" >
    </form>
</body>
</html>